*{
	margin: 0;
	padding: 0;
}

/*Barra do topo*/

#top-bar{
	border-bottom:1px solid #e3e3e3;
}
#top-bar div{
	padding: 5px 0;
}
.flex{
	display: flex;
	justify-content: space-between;
}
#top-bar ul{
	list-style: none;
}
#top-bar ul li{
	float: left;
	padding: 0 16px;
	border-left: 1px solid #e3e3e3;
	color: #01b1d7;
}
#top-bar ul li:nth-child(1){
	padding-left: 0;
	border-left: none;
}
#top-bar ul li a{
	text-decoration: none;
	transition: 0.2s;
}
#top-bar .contact-info ul li i{
	padding:5px;
	font-size: 14px;
}
#top-bar .contact-info ul li a{
	color:#444;
}
#top-bar .social-info ul li a i{
	font-size: 16px;
}
#top-bar .social-info ul li a{
	color: #62787d;
}
#top-bar .social-info ul li a:hover, #top-bar .contact-info ul li a:hover, #menu ul li a:hover{
	color: #01b1d7;
}

/*Barra do menu*/
nav#menu {
    background: #fff;
    transition: 0.2s;
}
.sticky{
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#menu .flex{
	align-items: center !important;
	height: 70px;
}
#menu ul{
	list-style: none;
	margin: 0;
}
#menu ul li{
	float: left;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 15px;
}
#menu ul li a{
	color: #444;
	transition: 0.5s;
	text-decoration: none;
	position: relative;
}
nav ul li a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background: #01b1d7;
	transition: 0.5s;
}
#menu ul li a:hover::after{
	transform: translateX(-50%) scaleX(1);
}

#menu .logo img{
	max-height: 40px;
}

/*Banner inicial, slider*/

section#banner {
	height: 100vh;
	width: 100%;
	position: absolute;
	background:#000;
}