*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
	font-family: Arial, sans-serif;
	font-size: 16px;
}

@keyframes bounce {
	0%,20%,60%, 100%{
		transform: translateY(0);
	}
	40%{
		transform: translateY(-20px);
	}
	80%{
		transform: translateY(-15px);
	}
}


/*Barra do topo*/

#top-bar{
	border-bottom:1px solid #e3e3e3;
}
#top-bar div.social-info,#top-bar div.contact-info{
	padding: 5px 0;
}
.flex{
	display: flex;
	justify-content: space-between;
}
#top-bar ul{
	list-style: none;
}
#top-bar ul li{
	float: left;
	padding: 0 16px;
	border-left: 1px solid #e3e3e3;
	color: #f58c31;
	font-size: 14px;
}
#top-bar ul li:nth-child(1){
	padding-left: 0;
	border-left: none;
}
#top-bar ul li a{
	text-decoration: none;
	transition: 0.2s;
}
#top-bar .contact-info ul li i{
	padding:5px;
	font-size: 14px;
}
#top-bar .contact-info ul li a{
	color:#444;
}
#top-bar .social-info ul li a i{
	font-size: 16px;
}
#top-bar .social-info ul li a{
	color: #62787d;
}
#top-bar .social-info ul li a:hover, #top-bar .contact-info ul li a:hover, #menu ul li a:hover{
	color: #f58c31;
}

/*Barra do menu*/
nav#menu {
    background: #fff;
    transition: 0.2s;
}
.sticky{
	position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#menu .flex{
	align-items: center !important;
	height: 70px;
}
#menu ul{
	list-style: none;
	margin: 0;
}
#menu ul li{
	float: left;
	padding: 10px 15px;
	text-transform: uppercase;
	font-size: 14px;
}
#menu ul li a{
	color: #444;
	transition: 0.5s;
	text-decoration: none;
	position: relative;
}
nav ul li a:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%) scaleX(0);
	transform-origin: 50% 50%;
	width: 100%;
	height: 2px;
	background: #f58c31;
	transition: 0.5s;
}
#menu ul li a:hover::after{
	transform: translateX(-50%) scaleX(1);
}

#menu .logo img{
	max-height: 40px;
}

/*Menu Mobile*/

.toggle-bars{
	display: none;
	margin: 0 15px;
	float: right;
	cursor: pointer;
}
.close-toggle{
	display: none;
	position: absolute;
	top: 5px;
	right: 20px;
	cursor: pointer;
	z-index: 2;
}

@media (max-width: 992px){
	#navbar {
		display: none;
		position: absolute;
		width: 100%;
		right: 0;
		top: 0px;
		background: #fff;
		height: auto;
		z-index: 1;
	}
	#navbar li{
		text-align: center;
		float: none;
		display: block;
		width: 100%;  
	}
	.toggle-bars{
		display: block;
	}
	#top-bar{
		display: none;
	}
}


/*Banner inicial, slider*/

section#banner {
	height:140vh;
	width: 100%;
	position: relative;
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	align-content: center;
	margin: 0 auto;
	align-items: center;
	clip-path: circle(300vh at 50% -160vh);
}
section .banner-img{
	height:30vh;
	width: 100%;
	position: relative;
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	align-content: center;
	margin: 0 auto;
	align-items: center;
}

/*Conteúdo da página*/

section.content{
	position: relative;
	padding: 85px 0;
}
section.content .title span{
	position: absolute;
	transform: translate(-50%,-50%);
	left: 50%;
	top: 95px;
	font-size: 55px;
	text-transform: uppercase;
	font-weight: bold;
	opacity: 0.08;
}
section.content .title h1{
	text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #444;
}
section.content .title p{
	text-align: center;
	color:#444;
	font-size: 16px;
	padding: 15px 0;
}

/*Empresa*/

section.content .content-section h2{
	color: #444;
	font-size: 26px;
}

section.content .content-section ul{
	list-style: none;
	padding: 10px 0;
}
section.content .content-section ul li{
	padding: 5px 0;
}
section.content .content-section ul li i{
	padding:0 5px;
	color: #f58c31;
}
section.content .content-section span, .content-section p{
	color: #444;
} 
section.content .content-section img{
	width: 100%;
	height: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


section#services{
	background-color: #f4f4f4;
}
section.content .service{
	border-radius: 8px;
    box-shadow: 0px 0px 20px #ddd;
    padding: 35px;
    transition: 0.5s;
    margin: 20px 15px;
    background: #fff;
}
section.content .service:hover{
	transform: scale(1.1);
}
section.content .service:hover h3{
	color: #f58c31;
}
.content-section .service h3{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #444;
	padding: 10px 0;
	transition: 0.5s;
}
.content-section .service i{
	display: block;
	text-align: center;
	font-size: 38px;
	color: #f58c31;
}
.content-section .service p{
	text-align: justify;
	font-size: 16px;
	color: #444;
	margin: 0;
}

/*PORTIFÓLIO*/	

.caixa-port{
	position: relative;
	width: 100%;
	overflow: hidden;
	margin: 10px 0;
}
.item:hover .caixa-port img{
	filter: brightness(40%);
	transform: scale(1.1);
}
.caixa-port img{
	width: 100%;
	transition: 0.5s;
}
.img-content{
	position: absolute;
	transform: translate(-50%,-50%);
	top: 40%;
	left: 50%;
	width: 100%;
	text-align: center;
	opacity: 0;
	transition: 0.5s;
}
.item:hover .img-content{
	top: 55%;
	opacity: 1;
}
.img-content h3{
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.img-content p {
	font-size: 19px;
	color: #fff;
}

.img-content i{
	background: #fff;
	padding: 9px 10px;
	border-radius: 100%;
	color: #f58c31;
	cursor: pointer;
	transition: 0.5s;
}
.img-content i:hover{
	background:#f58c31;
	color: #fff;
}

/*CASES*/
@media (max-width: 768px){
	#cases {
		padding-bottom: 25px !important
	}
}
#cases{
	background-color: #f4f4f4;
	padding-bottom: 250px;
}
.img-case{
	overflow: hidden;
	width: 100%;
}
.img-case img{
	width: 100%;
	filter: grayscale(25%);
	transition: 0.7s;
}
#cases .item{
	position: relative;
}
.case-content{
	padding: 20px;	
	background: #fff;
	border-top: 4px solid #fff;
	transition: 0.5s;
	overflow: hidden;
	margin-bottom: 10px;
}
@media (min-width: 768px) {
	.case-content{
		position: absolute;
		width: 85%;
		transform: translate(-50%,-30%);
		left: 50%;
		top: 100%;
		padding: 20px;	
		background: #fff;
		border-top: 4px solid #fff;
		transition: 0.5s;
		overflow: hidden;
	}	
}	
#cases .item:hover h3{
	color: #f58c31;
}
#cases .item:hover .case-content{
	border-top: 4px solid #f58c31;
}
#cases .item:hover .img-case img{
	transform: scale(1.1);
	filter: grayscale(0%) brightness(110%);
}
.case-content h3{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #444;
	padding: 10px;
	transition: 0.5s;
}
.case-content p{
	color: #333;
	padding: 0 20px;
}
.case-content a{
	float: right;
	text-align: center;
	text-decoration: none;
	color: #333;
	transition: 0.5s;
}
.case-content a:hover{
	color: #f58c31
}
.case-content i{
	padding: 0 10px;
}

/*Formulário de contato*/
#contact .info h1 {
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-align: center;
}
#contact .info i{
	color: #f58c31;
	padding: 14px;
}
#contact .info a{
	text-decoration: none;
	color:#444;
	transition: 0.5s;
}
#contact .info a:hover{
	color: #f58c31;
}

#contact form{
	margin-top: 20px;
	width: 100%;
}

#contact form .row{
	margin-bottom: 15px;
}

#contact button{
	background-color: #f58c31;
	padding: 10px 20px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 15px;
}
#contact button:hover{
	animation: bounce 850ms ease-in-out; 
}
.center{
	text-align: center;
}

#formulario label{
	position: absolute;
	transform: translate(15px,-30px);
	color: #444;
	transition: 200ms;
}

#formulario input, #formulario textarea{
	border-color: #666;
}

#formulario input:focus, #formulario textarea:focus{
	border-color: #f58c31;
	box-shadow: none;
}

#formulario input:focus + label.titulo{
	transform: translate(10px, -50px);
	background: #fff;
}

#formulario input:not(:placeholder-shown) + label.titulo{
	transform: translate(10px, -50px);
	background: #fff;
}

/*FOOTER*/
#footer{
	background: #2d2d30;
}
#footer ul{
	list-style: none;
    position: absolute;
    right: 0;
    top: 15px;
}
#footer ul li{
	float: left;
	font-size: 25px;
	margin-left: 15px;
}
#footer ul li a{
	color: #fff;
	transition: 0.5s;
}
#footer p{
	padding: 15px;
	color: #fff;
	font-size: 14px;
}
#footer ul li a:hover{
	color:#f58c31;
}